@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Text:ital,wght@0,300..700;1,300..700&display=swap');
@import url(main.css);
@font-face {
    font-family: "Lexend";
    src: url(../assets/fonts/Lexend-VariableFont_wght.ttf);
    font-weight: 100 900;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    /*outline: 1px solid red !important;*/
    -webkit-tap-highlight-color: transparent;
}
:root{
    --bg-principal: linear-gradient(to bottom left, #e4ecf5, #c9dcff);
    --mono: black;

    --cor-fonte-menu-desk: #2d3542;
    --bg-menu-desk: rgba(255, 255, 255, 0.281);

    --cor-fonte-inicio: black;
    -cor-subtitulo01: black;

    --bg-botao-inicio: rgb(89, 66, 219);
    --bg-botao-inicio-hover: rgb(64, 47, 158);
    /*----------RESUMO----------*/
    --cor-texto-resumo: rgba(0, 0, 0, 0.664);
    --cor-texto-data: rgba(22, 22, 22, 0.938);
    --bg-caixa-resumo: rgba(172, 172, 255, 0.219);
    --cor-texto-badge: #404658;
    --cor-sub-habilidade: #404658;
    --bg-badge: rgba(255, 255, 255, 0.4);
    --cor-borda-badge: rgba(64, 70, 88, 0.2);
    --shadow-badge-hover: rgba(0, 0, 0, 0.1);
    --bg-badge-hover: #8A96BE;
    --cor-badge-hover: #ffffff;
    --border-cor-badge: #8A96BE;
    --bg-badge-principal: #404658;
    --cor-badge-principal: #ffffff;
    --border-badge-principal: #404658;
    /*----------PROJETOS----------*/
    --cor-texto-titulo-projetos: rgb(226, 70, 13);
    --cor-texto-titulo-projetos-hover: coral;
    --cor-link-finance: indianred;
}
body.dark-mode{
    /*--bg-principal: linear-gradient(to bottom left, #1e293b, #0f172a);*/
    /*--bg-principal: linear-gradient(to bottom left, #1a1e29, #10141d);*/
    --bg-principal: linear-gradient(to bottom left, #232946, #121420);
    --mono: white;

    --cor-fonte-menu-desk: #20252e;
    --bg-menu-desk: #d4e3ff;

    --cor-fonte-inicio: rgb(255, 255, 255);
    --cor-subtitulo01: rgba(255, 255, 255, 0.822);
    /*----------RESUMO----------*/
    --cor-texto-resumo: rgba(236, 236, 255, 0.836);
    --cor-texto-data: rgba(255, 255, 255, 0.938);
    --bg-caixa-resumo: rgba(92, 92, 129, 0.219);
    --bg-badge: rgb(49, 90, 124);
    --bg-badge-principal: white;
    --cor-badge-principal: black;
    --cor-texto-badge: white;
}
html{
    scroll-behavior: smooth;
}
body{
    width: 100vw;
    height: 100vh;
    background: var(--bg-principal);
    position: relative;
    overflow-x: hidden;
    display: block;
}
body::before{
    content: '';
    position: fixed;
    top: 0;
    left: 0;
    background: url("data:image/svg+xml,%3Csvg viewBox='0 0 200 200' xmlns='http://www.w3.org/2000/svg'%3E%3Cfilter id='noiseFilter'%3E%3CfeTurbulence type='fractalNoise' baseFrequency='20' numOctaves='3' stitchTiles='stitch'/%3E%3C/filter%3E%3Crect width='100%25' height='100%25' filter='url(%23noiseFilter)' opacity='0.15'/%3E%3C/svg%3E");
    pointer-events: none;
}
header{
    width: 18%;
    height: 40px;
    padding: 0 45px;
    border-radius: 50px;
    z-index: 1000;

    position: fixed;
    top: 15px;
    right: 90px;
    justify-content: center;
    align-items: center;
    display: flex;
    backdrop-filter: blur(10px);
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.2);*/
    background-color: var(--bg-menu-desk);
}
label{
    
    position: fixed;
    top: 25px;
    right: 40px;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    display: flex;
}
.scroll{
    height: 100%;
    height: 100vh;
    overflow-y: scroll;
    scroll-snap-type: y proximity;
    overflow-x: hidden;
    scroll-behavior: smooth;
}
.bloco{
    width: 100vw;
    height: 100vh;
    scroll-snap-align: start;
    justify-content: center;
    align-items: center;
    scroll-margin-top: 100px;
}




@media(max-width: 768px){
    header{
        display: none;
    }
    .bloco{
        scroll-margin-top: 20px;
    }
    #resumo{
        margin: 20px 0 10px 0;
    }
    label{
        top: 15px;
        right: 8px;
    }
}